body{
    font-family: 'Roboto', sans-serif;
    background: #888888;
    color: aliceblue;
    /*background: linear-gradient(to left, #8E0E00, #1F1C18);*/
}

.container{
    height: 540px;
    width:  400px;
    margin: 100px auto;
    background-color: black;
    border-radius: 20px;
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px; */
  
}